
@model IEnumerable<VentaDeCarrosIxen.Models.Carro>


@{
    ViewBag.Title = "Index";
}
<h2>.</h2>
<h2>Index</h2>
<div class="jumbotron">
    <h1>Auto Ventas Car's</h1>
    <p class="lead">Auto Ventas Car's, un sitio donde puedes comprar y vender todo tipo de autos, camionetas, pick ups, camiones, microbuses y paneles. Donde vender tu auto es fácil, efectivo y seguro, súbelo a nuestro portal es gratis y muy sencillo. Puedes también Comprar tu auto con nosotros, seguro lo encontraras ya que tenemos un largo inventario de vehículos, no te arriesgues compra y vende con nosotros y asegura tu inversión.</p>
</div>
<section class="content-header">
    <h1>
        Listada de carros en venta.
    </h1>
</section>
<div class="box-body">
    <div class="well">
        <div id="myCarousel1" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item">
                    <div class="row">
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img width="400" height="400" src="~/imagenes/15.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img width="250" height="250" src="~/imagenes/2.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img width="250" height="250" src="~/imagenes/3.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/4.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/item-->
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/14.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                        <div class="col-xs-3">
                            <center>
                                <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/13.jpg" alt="Image" class="img-responsive"></a>
                            </center>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/7.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/8.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/9.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/10.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/11.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://www.jquery2dotnet.com/"><img src="~/imagenes/12.jpg" alt="Image" class="img-responsive"></a>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/item-->
            </div>
            <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel1" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next">›</a>
        </div>
        <!--/myCarousel-->
    </div>
</div>

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Bugatti Veyron Super Sport
                </h3>
                <h3 class="box-title pull-right">
                    Q 10000000
                </h3>
            </div>
            <div class="box-body">
                <div class="box-body" style="display: block;">

                        <center>
                            <dd>
                                <img width="500" height="300" src="~/imagenes/5.jpg" alt="imagen" />
                            </dd>
                        </center>
                    
                </div>
                @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
                <p>Bugatti con velocidades de hasta 480k/h</p>
                <span class="pull-right text-muted"> Año 2016</span>
            </div>
        </div>
    </div>

<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Porche Mission e
            </h3>
            <h3 class="box-title pull-right">
                Q 400000
            </h3>
        </div>
        <div class="box-body">
            <div class="box-body" style="display: block;">

                <center>
                    <dd>
                        <img width="500" height="300" src="~/imagenes/6.jpg" alt="imagen" />
                    </dd>
                </center>

            </div>
            @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
            <p>Porche Mission 2 color blanco, interior de cuero. 0 Km</p>
            <span class="pull-right text-muted"> Año 2016</span>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Camioneta Honda MC5
            </h3>
            <h3 class="box-title pull-right">
                Q 250000
            </h3>
        </div>
        <div class="box-body">
            <div class="box-body" style="display: block;">

                <center>
                    <dd>
                        <img width="500" height="300" src="~/imagenes/2.jpg" alt="imagen" />
                    </dd>
                </center>

            </div>
            @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
            <p>Camioneta Honda, color azul. Interior de cuero. 0km</p>
            <span class="pull-right text-muted"> Año 2016</span>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Lamborguini Aventador
            </h3>
            <h3 class="box-title pull-right">
                Q 4000000
            </h3>
        </div>
        <div class="box-body">
            <div class="box-body" style="display: block;">

                <center>
                    <dd>
                        <img width="500" height="300" src="~/imagenes/15.jpg" alt="imagen" />
                    </dd>
                </center>

            </div>
            @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
            <p>Lamborguini Aventador, con interior de cuero, velocidades de hasta 450k/h</p>
            <span class="pull-right text-muted"> Año 2016</span>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                Mazda 6
            </h3>
            <h3 class="box-title pull-right">
                Q 150000
            </h3>
        </div>
        <div class="box-body">
            <div class="box-body" style="display: block;">

                <center>
                    <dd>
                        <img width="500" height="300" src="~/imagenes/9.jpg" alt="imagen" />
                    </dd>
                </center>

            </div>
            @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
            <p>Mazda 6, color rojo. Con interior de cuero. 0 km</p>
            <span class="pull-right text-muted"> Año 2016</span>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                VolksWagen 68
            </h3>
            <h3 class="box-title pull-right">
                Q 700000
            </h3>
        </div>
        <div class="box-body">
            <div class="box-body" style="display: block;">

                <center>
                    <dd>
                        <img width="500" height="300" src="~/imagenes/11.jpg" alt="imagen" />
                    </dd>
                </center>

            </div>
            @*<img class="img-responsive pad" src="assets/img/2.jpg" alt="Photo">*@
            <p>VolksWagen del 68, un verdadero clasico.</p>
            <span class="pull-right text-muted"> Año 1968</span>
        </div>
    </div>
</div>

<script src="~/Scripts/Ventana.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jQuery-2.1.4.min.js"></script>
<script src="~/Scripts/js/app.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="~/Content/css/AdminLTE.min.css" />
<link rel="stylesheet" href="~/Content/css/skins/skin-blue.min.css" />
<link rel="stylesheet" href="~/Content/css/img.css" />
<link rel="stylesheet" href="~/Content/css/black.css" />
<link rel="stylesheet" href="~/Content/Descr.css"/>

